<div class="wrapper row0">
    <div id="topbar">
        <div id="slidepanel" class="clear">
            <div class="fl_left">
                <form method="post" action="#" class="block clear">
                    <input type="text" name="query" value="" size="35">
                    <button class="button" type="submit" name="search"><span class="icon-search"></span></button>
                </form>
            </div>
            <div class="fl_right">
                <ul class="social">
                    <li><a class="socico-facebook" title="Facebook" href="https://www.facebook.com/G.B.pant" target="_blank"><span class="icon-facebook"><em>Facebook</em></span></a></li>
                    <li><a class="socico-pinterest" title="Pinterest" href="#"target="_blank"><span class="icon-pinterest"><em>Pinterest</em></span></a></li>
                    <li><a class="socico-twitter" title="Twitter" href="#" target="_blank"><span class="icon-twitter"><em>Twitter</em></span></a></li>
                    <li><a class="socico-dribble" title="Dribble" href="#" target="_blank"><span class="icon-dribbble"><em>Dribble</em></span></a></li>
                    <li><a class="socico-linkedin" title="LinkedIn" href="#" target="_blank"><span class="icon-linkedin"><em>LinkedIn</em></span></a></li>
                    <li><a class="socico-google-plus" title="Google+" href="#" target="_blank"><span class="icon-google-plus"><em>Google+</em></span></a></li>
                    <li><a class="socico-skype" title="Skype" href="#" target="_blank"><span class="icon-skype"><em>Skype</em></span></a></li>
                </ul>
            </div>
        </div>
        <div id="openpanel">
            <a id="slideit" class="icon-chevron-down" href="#slidepanel"></a>
            <a id="closeit" class="icon-chevron-up" style="display:none;" href="#slidepanel"></a>
        </div>
    </div>
</div>
<div class="wrapper row1">
    <header role="banner" id="header" class="clear">
        <img src="{echo CDN}img/gbpeclogo.png" align="left" alt="GBPEC logo">
        <div class="fl_left" style="padding-top:25px">
            <h1><a>Govind Ballabh Pant Engineering College </a></h1>
            <h1><p><center  style="font-size:25px;"> Government Of NCT Of Delhi  <br/> Affiliated To Guru Govind Singh Indraprastha University</center>
                </p></h1>
        </div>
        <div class="fl_right right" style="padding-top:25px">
            <ul class="meta nospace inline">
                <li><span class="icon-phone"></span> +91 (011) 2638 2314</li>
                <li><span class="icon-envelope-alt"></span> <a href="mailto:info@gbpec.edu.in">info@gbpec.edu.in</a></li>
            </ul>
            <nav>
                <ul class="nospace inline">
                    <li><a href="/index">Home</a></li>
                    <li><a href="#">A - Z Index</a></li>
                    <li><a href="#">Memeber Login</a></li>
                </ul>
                <ul class="nospace inline" style="padding-top:15px">
                    <li><a href="http://delhi.gov.in/wps/wcm/connect/DOIT_GBPEC/gbpec/home" target="_blank">GBPEC Delhi Govt. Website</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>
<div class="wrapper row2">
    <nav role="navigation" id="topnav" class="clear">
        <ul class="clear">
            <li class=""><a href="/index">Home</a></li>
            <li class=""><a class="drop" href="#">About Us</a>
                <ul class="sub-menu">
                    <li><a href="/about">About Us</a></li>
                    <li><a href="">Principal Desk</a></li>
                    <li><a class="drop" href="#">Team / Staff</a>
                        <ul class="sub-menu">
                            <li><a href="" >Faculties / Staffs</a></li>
                            <li><a href="">Web Support Team</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class=""><a class="drop" href="#" >Academics</a>
                <ul class="sub-menu">
                    <li><a class="drop" href="#" >Course Offered</a>
                        <ul class="sub-menu">
                            <li><a href="/course/ece" >Electronics & Communication Engg.</a></li>
                            <li><a href="/course/cse">Computer Science Engg.</a></li>
                            <li><a href="/course/mae" >Mechanical & Automation Engg.</a></li>

                        </ul>
                    </li>
                    <li><a class="drop" href="#" >Laboratry</a>
                        <ul class="sub-menu">
                            <li><a href="/labs/vlsi" >VLSI LAB</a></li>
                            <li><a href="/labs/cslab">Computer Lab</a></li>
                            <li><a href="/labs/microwave" >Microwave Lab</a></li>
                            <li><a href="/labs/dsplab" >DSP Lab</a></li>
                            <li><a href="/labs/eclab" >Electronics Lab</a></li>
                            <li><a href="/labs/setsntena" >Settelite & Antena Lab</a></li>
                            <li><a href="/labs/cetworking" >Networking Lab</a></li>
                            <li><a href="/labs/cybercecurity" >Cyber Security</a></li>
                        </ul>
                    </li>

                    <li><a class="drop" href="#">Campus Facilities</a>
                        <ul class="sub-menu">
                            <li><a href="/facilities/sports">Sports & Games</a></li>
                            <li><a href="/facilities/library">Library</a></li>
                            <li><a href="/facilities/canteen">Canteen</a></li>
                        </ul>
                    </li>

                    <li><a href="" >FAQ</a></li>
                    <li><a href="">Archives</a></li>
                </ul>
            </li>
            <li><a class="drop" href="#" >Blog</a>
                <ul class="sub-menu">
                    <li><a href="" >By Faculties</a></li>
                    <li><a href="">Students Pen</a></li>
                </ul>
            </li>

            <li class="last-child"><a class="drop" href="#" >Gallery</a>
                <ul class="sub-menu">
                    <li><a href="/gallery/CollegeInfraStructure">College Infra Structure</a></li>
                    <li><a href="/gallery/events">Events And Festivals</a></li>
                    <li><a href="/gallery/workshopsseminars">Workshop & Seminars</a></li>
                </ul>
            </li>
            <li ><a href="#" class="drop">Student Activities</a>
                <ul class="sub-menu">
                    <li><a class="drop" href="#" >Societies</a>
                        <ul class="sub-menu">
                            <li><a href="/society/gbpecieee" >GBPEC IEEE</a></li>
                            <li><a href="/society/ingenium">Ingenium</a></li>
                            <li><a href="/society/sae" >SAE GBPEC Club</a></li>
                            <li><a href="/society/samidha" >Samidha</a></li>

                        </ul>
                    </li>
                    <li><a class="drop" href="#" >Events</a>
                        <ul class="sub-menu">
                            <li><a href="/events/inceptum" >Inceptum</a></li>
                            <li><a href="/events/ambrosia">Ambrosia</a></li>
                            <li><a href="/events/fantasia" >Fantasia</a></li>
                            <li><a href="/events/fortius" >Fortius</a></li>

                        </ul>
                    </li>
                </ul>

            </li>

            <li ><a href="/GBPEC_Bulletin" >GBPEC Bulletin</a></li>
            <li ><a href="/alumni" >Alumni</a></li>
            <li class=""><a href="/contact" >Contact Us</a></li>
        </ul>
    </nav>
</div>
