<div class="container">
	<div class="row">
		<div class="page-header" align="center">
			<img src="{echo CDN}form/Images/logo_head.png" class="img-responsive" alt="GBPEC LOGO">
			<h4>
				<marquee>Admission Form For 2015-2016 Session.</marquee>
			</h4>
		</div>
	</div>
	<div class="row">
		<form>
			<div class="panel panel-primary">
				<div class="panel-heading"><strong>Applicant Details<span class="pull-right" style="color:">Application No. : BL58786-2015-ECE</span></strong></div>
				<div class="panel-body form-horizontal">
					<div class="col-sm-10">
						<div class="form-group ">
							<label  class="col-sm-3 control-label">Candidate Name</label>
							<strong class="col-sm-3 control-label"><center>Meraj Ahmad Siddiqui Khan</center></strong>
							<label  class="col-sm-3 control-label">Email ID</label>
							<strong class="col-sm-3 control-label"><center>msiddiqui.jmi@gmail.com</center></strong>
						</div>
						<div class="form-group ">
							<label  class="col-sm-3 control-label">GGSIPU CET Roll No.</label>
							<div class="col-sm-3">
								<input type="text" class=" form-control" id="roll" placeholder="GGSIPU CET Roll No." name="cet_roll" required/>
							</div>
							<label  class="col-sm-3 control-label">GGSIPU CET Rank.</label>
							<div class="col-sm-3">
								<input type="text" class=" form-control" id="rank"  placeholder="GGSIPU CET Rank." name="cet_rank" required/>
							</div>
						</div>
						<div class="form-group ">
							<label  class="col-sm-3 control-label">Entry Type</label>
							<div class="col-sm-3">
								<select class=" form-control"  name="entry_type" required>
									<option value=""> Choose an option</option>
									<option value="Regular">Regular (CET 131)</option>
									<option value="Lateral">Lateral (CET 128)</option>
								</select>
							</div>
							<label  class="col-sm-3 control-label">Course</label>
							<div class="col-sm-3">
								<select class=" form-control"  name="course" required>
								<option>Choose an option</option>
								<option>Electronics & Communication Engineering</option>
								<option>Mechanical & Automation Engineering</option>
								<option>Computer Science Engineering</option>
								</select>
							</div>
						</div>
						<div class="form-group ">
							<label  class="col-sm-3 control-label">Religion</label>
							<div class="col-sm-3">
								<select class=" form-control" name="religion" required>
									<option value="Muslim">Islam (Muslim)</option>
									<option value="Hindu">Hinduism (Hindu)</option>
									<option value="Jain"> Jainism</option>
									<option value="Baudh">Bhuddism</option>
									<option value="christian">Christian</option>
									<option value="jews">Jews</option>
								</select>
							</div>
							<label  class="col-sm-3 control-label">Category</label>
							<div class="col-sm-3">
								<select class=" form-control" name="category" required>
									<option value="Genral">Genral</option>
									<option value="SC">SC (Scheduled Caste)</option>
									<option value="ST">ST (Scheduled Tribes)</option>
									<option value="OBC">OBC</option>
								</select>
							</div>
						</div>
						<div class="form-group ">
							<label  class="col-sm-3 control-label">Region</label>
							<div class="col-sm-3">
								<select class=" form-control" name="region" required>
									<option value="Delhi">Delhi</option>
									<option value="Outside Delhi">Others</option>
								</select>
							</div>
							<label  class="col-sm-3 control-label">Nationality</label>
							<div class="col-sm-3">
								<select class=" form-control"  name="nationality" required>
									<option value="Indian">Indian</option>
									<option>Other</option>
								</select>
							</div>
						</div>
						<div class="form-group ">
							<label  class="col-sm-3 control-label">Gender</label>
							<div class="col-sm-3">
								<select class=" form-control"  name="gender" required>
									<option>Choose</option>
									<option value="Male">Male</option>
									<option value="Female">Female</option>
								</select>
							</div>
							<label  class="col-sm-3 control-label">Date Of Birth</label>
							<div class="col-sm-3">
								<input type="text" class=" form-control"  placeholder="Date Of Birth" name="dob" required/>
							</div>
						</div>
						<div class="form-group ">
							<label  class="col-sm-3 control-label">Mobile Number</label>
							<div class="col-sm-3">
								<input type="text" class=" form-control" id="mobile" placeholder="Mobile No." name="mobile" required/>
							</div>
							<label  class="col-sm-3 control-label">Admission Year</label>
							<div class="col-sm-3">
								<strong class="col-sm-3 control-label">2012</strong>
							</div>
						</div>
						<div class="form-group ">
							<label  class="col-sm-3 control-label">Blood Group</label>
							<div class="col-sm-3">
								<select class=" form-control" name="blood_group" required>
									<option>Choose Blood group</option>
									<option value="A+">A+</option>
									<option value="B+">B+</option>
									<option value="O+">O+</option>
									<option value="AB+">AB+</option>
									<option value="AB-">AB-</option>
									<option value="O-">O-</option>
									<option value="B-">B-</option>
									<option value="A-">A-</option>
								</select>
							</div>
							<label  class="col-sm-3 control-label">Physically Disabled</label>
							<div class="col-sm-3">
								<select class=" form-control"  placeholder="Pysicaly Disabled" name="pdisable" required>
									<option value="No">NO</option>
									<option value="Yes">Yes</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<i class="thumbnail"><img src="{echo CDN}form/Images/photo.png" alt="Upload Your Photo" id="photo_preview" width="200" height="200"></i>
						<input type="file" name="photo" id="photo" required>
						<br/>
						<i class="thumbnail"><img src="{echo CDN}form/Images/sign.png" alt="Upload Your Photo" id="signature_preview" width="350" height="200" ></i>
						<input type="file" name="photo" id="signature" required>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading"><strong>Educational Qualification Details</strong></div>
				<div class="panel-body form-horizontal">
				<div class="form-group">
						<label for="schoolname" class="col-sm-1 control-label">Education</label>
						<strong class="col-sm-4 control-label"><center>School / College Name</center></strong>
						<strong class="col-sm-4 control-label"><center>Board / University </center></strong>
						<strong class="col-sm-1 control-label"><center>* M.O</center></strong>
						<strong class="col-sm-1 control-label"><center>**T.M</center></strong>
						<strong class="col-sm-1 control-label"><center>Percent</center></strong>
					</div>
					<div class="form-group">
						<label for="schoolname" class="col-sm-1 control-label">10th</label>
						<div class="col-sm-4">
							<input type="text" class=" form-control"  placeholder="School name" name="10_school"/>
						</div>
						<div class="col-sm-4">
							<select class=" form-control" name="10_board">
							<option>CBSE Board</option>
							<option>ICSE Board</option>
							<option>State Board</option>
							</select>
						</div>
						<div class="col-sm-1">
							<input type="text" class=" form-control" id="10_marks" placeholder="Marks Obtained" name="10_scored"/>
						</div>
						<div class="col-sm-1">
							<input type="text" class=" form-control" id="10_total" placeholder="Total Marks" name="10_total"/>
						</div>
						<div class="col-sm-1">
							<input type="text" class=" form-control"  id="10_percent"  name="10_percent" readonly="" />
						</div>
					</div>
					<div class="form-group">
						<label for="schoolname" class="col-sm-1 control-label">12th</label>
						<div class="col-sm-4">
							<input type="text" class=" form-control"  placeholder="School name" name="12_school"/>
						</div>
						<div class="col-sm-4">
							<select class=" form-control"  name="12_board">
							<option>CBSE Board</option>
							<option>ICSE Board</option>
							<option>State Board</option>
							</select>
						</div>
						<div class="col-sm-1">
							<input type="text" class=" form-control"  id="12_marks" placeholder="Marks Obtained" name="12_scored"/>
						</div>
						<div class="col-sm-1">
							<input type="text" class=" form-control"  id="12_total" placeholder="Total Marks" name="12_total"/>
						</div>
						<div class="col-sm-1">
							<input type="text" class=" form-control" id="12_percent" name="12_percent" readonly="" />
						</div>
					</div>
					<div class="form-group">
						<label for="schoolname" class="col-sm-1 control-label">Diploma</label>
						<div class="col-sm-4">
							<input type="text" class=" form-control"  placeholder="College Name" name="dip_college"/>
						</div>
						<div class="col-sm-4">
							<select class=" form-control" name="dip_univ">
							<option>CBSE Board</option>
							<option>ICSE Board</option>
							<option>State Board</option>
							</select>
						</div>
						<div class="col-sm-1">
							<input type="text" class=" form-control" id="dip_marks" placeholder="Marks Obtained" name="dip_scord"/>
						</div>
						<div class="col-sm-1">
							<input type="text" class=" form-control" id="dip_total" placeholder="Total Marks" name="dip_total"/>
						</div>
						<div class="col-sm-1">
							<input type="text" class=" form-control"  id="dip_percent" name="dip_percent" readonly="" />
						</div>
					</div>
					<strong></strong> Fill only the exams you have qualified. &nbsp&nbsp<b>*M.O -</b> Marks Obtained &nbsp&nbsp<b>**T.M -</b> Total Marks
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">Parents / Guardian Details</div>
				<div class="panel-body form-horizontal">
					<div class="form-group ">
							<label  class="col-sm-2 control-label">Fathers Name</label>
							<div class="col-sm-4">
								<input type="text" class=" form-control" id="f_name" placeholder="Father Name" name="f_name" required/>
							</div>
							<label  class="col-sm-2 control-label">Mothers Name</label>
							<div class="col-sm-4">
								<input type="text" class=" form-control" id="m_name"  placeholder="Mother Name" name="m_name" required/>
							</div>
						</div>
						<div class="form-group ">
							<label  class="col-sm-2 control-label">Fathers Occupation</label>
							<div class="col-sm-4">
								<input type="text" class=" form-control" id="f_name" placeholder="Father Occupation" name="f_occupation" required/>
							</div>
							<label  class="col-sm-2 control-label">Mothers Occupation</label>
							<div class="col-sm-4">
								<input type="text" class=" form-control" id="m_name"  placeholder="Mother Occupation" name="m_occupation" required/>
							</div>
						</div>
						<div class="form-group ">
							<label  class="col-sm-2 control-label">Fathers Mobile</label>
							<div class="col-sm-4">
								<input type="text" class=" form-control" id="f_mobile" placeholder="Father Contact No." name="f_mobile" required/>
							</div>
							<label  class="col-sm-2 control-label">Mothers Mobile</label>
							<div class="col-sm-4">
								<input type="text" class=" form-control" id="m_mobile"  placeholder="Mothers Contact No." name="m_mobile" required/>
							</div>
						</div>
						<div class="form-group ">
							<label  class="col-sm-2 control-label">Fathers Annual Income</label>
							<div class="col-sm-4">
								<input type="text" class=" form-control" id="f_income" placeholder="Father Annual Income" name="f_income" required/>
							</div>
							<label  class="col-sm-2 control-label">Mothers Annual Income</label>
							<div class="col-sm-4">
								<input type="text" class=" form-control" id="m_income"  placeholder="Mothers Annual Income" name="m_income" required/>
							</div>
						</div>
						<div class="form-group ">
							<label  class="col-sm-2 control-label">Permannet Address</label>
							<div class="col-sm-4">
								<textarea class=" form-control" id="p_address" name="p_address" required>
								</textarea>
							</div>
							<label  class="col-sm-2 control-label">Mailing Address (If diffrent)</label>
							<div class="col-sm-4">
								<textarea class=" form-control" id="m_address" name="m_address">
								</textarea>
							</div>
						</div>
				</div>
			</div>
			<div class="panel panel-success">
			  <div class="panel-heading"><strong>Declration</strong></div>
			  <div class="panel-body">
			  <p><input type="checkbox" name="agreed" id="declare" required/> I <strong>Meraj Ahmad Siddiqui </strong> Here by declare that all the information given above are true to my utmost knowledge. I agree that if any information found wrong  diciplinary action can be taken against me.  My admission my be cancelled or my scholarships will be taken back and jusdicaial Action can be taken against me. All the jusdicial action will be under delhi goverment/</p>
			  <p align="center"><input type="submit" class="btn btn-primary"  value="Submit Form" id="submit"></p>
			  </div>
			</div>
		</form>
	</div>
</div>