<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{echo strip_tags($seo->getDescription())}" />
        <meta name="keywords" content="{echo strip_tags($seo->getKeywords())}">
        <meta name="author" content="{echo $seo->getAuthor()}" />
        <meta name="msvalidate.01" content="B1BCAA5861C00450565B6B8C742070DF" />
        <meta http-equiv="Content-Language" content="en">
        <meta name="Rating" content="General">
        <meta name="Distribution" content="Global">
        <meta name="Robots" content="{echo $seo->getRobots()}">
        <meta name="Revisit-after" content="1 Day">
        <link rel="author" href="{echo $seo->getAuthor()}" />
        <link rel="publisher" href="{echo $seo->getAuthor()}">

        <title>{echo $seo->getTitle()}</title>
        <script type="text/javascript" src="htp://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

        <link rel="apple-touch-icon" sizes="57x57" href="{echo CDN}img/icon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{echo CDN}img/icon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{echo CDN}img/icon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{echo CDN}img/icon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{echo CDN}img/icon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{echo CDN}img/icon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{echo CDN}img/icon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{echo CDN}img/icon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{echo CDN}img/icon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="{echo CDN}img/icon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{echo CDN}img/icon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="{echo CDN}img/icon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{echo CDN}img/icon/favicon-16x16.png">
        <link rel="manifest" href="{echo CDN}img/icon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{echo CDN}img/icon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel="shortcut icon" href="{echo CDN}img/icon/favicon.ico" type="image/vnd.microsoft.icon" />
    </head>
    <body>

        {ayield action}


    </body>
    <script type="text/javascript" src="{echo CDN}form/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{echo CDN}form/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{echo CDN}form/js/form.js"></script>
</html>