<div class="wrapper row4">
  <div role="main" class="container">
    <div id="gallery">
      <section>
        <figure>
          <ul class="clear">
            <li class="col-1-3 first"><a class="nivoltbox" data-lightbox-gallery="gallery1" href="{echo CDN}gallery/inceptum/ece_12.jpg" title="2012 Batch GBPEC"><img src="{echo CDN}gallery/inceptum/ece_12.jpg" alt="2012 Batch Of GBPEC Delhi" width="400px" height="400px"></a></li>
            <li class="col-1-3"><a class="nivoltbox" data-lightbox-gallery="gallery1" href="{echo CDN}gallery/inceptum/anjum.jpg" title="Anjum Raza"><img src="{echo CDN}gallery/inceptum/anjum.jpg" alt="Anjum Raza, GBPEC Delhi" width="400px" height="400px"></a></li>
      
          </ul>
          <figcaption>
            
          </figcaption>
        </figure>
      </section>
      <nav class="pagination" >
      <center>
        <ul>
          <li class="prev"><a href="#"><span class="icon-chevron-left"></span></a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li class="splitter"><strong>&hellip;</strong></li>
          <li><a href="#">6</a></li>
          <li class="current"><strong>7</strong></li>
          <li><a href="#">8</a></li>
          <li class="splitter"><strong>&hellip;</strong></li>
          <li><a href="#">14</a></li>
          <li><a href="#">15</a></li>
          <li class="next"><a href="#"><span class="icon-chevron-right"></span></a></li>
        </ul>
        </center>
      </nav>
    </div>
    <div class="clear"></div>
  </div>
</div>
