<div class="wrapper row3">
  <div id="pageintro" class="clear">
    <div class="fl_left">
      <h2 class="nospace">About Us</h2>
    </div>
    <nav class="fl_right breadcrumb">
      <ul>
        <li><a href="home" title="Home">Home</a></li>
        <li><a href="AboutUs" title="About Us">About Us</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="wrapper row4">
  <div role="main" class="container">
    <div class="boxholder push50"><img src="{echo CDN}img/slider/3.jpg" alt="Template Demo Image"></div>
    <h2>Know About Us</h2>
    <p>G B Pant Engineering College was established by the Govt. of NCT of Delhi in the year 2007 with the aim of imparting quality technical education for the students of Delhi and nearby areas. Since its inception, the faculty and staff have been tirelessly working towards the growth of the institution.</p>
<p>
Affiliated to Guru Gobind Singh Indraprastha University and approved by AICTE, the college started with two batches of students, one each for Mechanical Engineering and Electronics and Communications Engineering courses. Increasing its horizon in the year 2010, a batch of Computer Engineering course was started in the college. With the presence of vibrant and dynamic faculty members of highest academic calibre selected by UPSC, G B Pant has been able to produce three batches of engineering graduates who have been pursuing their careers in companies and higher education institutes in India and abroad.</p>

<p>The college has been operating from its building in G B Pant Polytechnic campus which has been transformed to be equipped with ultra-modern facilities. The college has already established various labs for all the branches with up to date modern equipment which ensures that the students are trained in the practical realm according to the current industry standards. The college is in the process of making its own building with state of the art facilities</p>
  <hr>
  	<div class="boxholder push50"><img src="{echo CDN}img/slider/3.jpg" alt="Template Demo Image"></div>
   <h2>Our Mission</h2>
   <p>The mission of G B Pant govt. engineering college is the advancement of knowledge by educating students in Engineering Sciences, Applied Sciences and Humanities. By following a holistic and inter-disciplinary approach, we believe in producing Engineers who would serve the country and the world in the 21st century.</p>
   <p>The eminent faculty of the institute is committed in generating knowledge and disseminating it to the students, thereby nurturing them to become torch bearers of knowledge. By combining academic rigour and excitement of discovery in the subject, the faculty is committed to producing students who would become embodiments of intelligence of both theory and practice. The college is committed to the overall development of the students, making them fine citizens dedicated to the betterment of the society.</p>
   <div class="clear"></div>
  </div>
</div>