<div class="wrapper row3">
  <div id="pageintro" class="clear">
    <div class="fl_left">
      <h2 class="nospace">Our Leading Students</h2>
    </div>
    <nav class="fl_right breadcrumb">
      <ul>
        <li><a href="index" title="Home">Home</a></li>        
        <li><a href="Alumni" title="Alumni Achievements">Alumni</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="wrapper row4">
  <div role="main" class="container">
    <div class="clear push80">
      <div class="col-1-3">
        <div class="pricingtable-wrapper">
          <div class="pricingtable">
            <div class="pricingtable-title">
              <h2>CEO, MM Technologies</h2>
            </div>
            <div class="pricingtable-list">
              <img src="{echo CDN}img/alumni/meraj.jpg">
              <ul>
                <li>Meraj Ahmad Siddiqui</li>
              </ul>
            </div>
            <div class="pricingtable-price">
                <ul class="social coloured">
                <li><a title="Facebook" class="socico-facebook" href="#" target="_blank"><span class="icon-facebook"><em>Facebook</em></span></a></li>
                <li><a title="Google+" class="socico-google-plus" href="#" target="_blank"><span class="icon-google-plus"><em>Google+</em></span></a></li>
                <li><a title="LinkedIn" class="socico-linkedin" href="#" target="_blank"><span class="icon-linkedin"><em>LinkedIn</em></span></a></li>
                <li><a title="Twitter" class="socico-twitter" href="#" target="_blank"><span class="icon-twitter"><em>Twitter</em></span></a></li>
              </ul>
            </div>
            <div >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>