<!-- Slider -->
<div class="wrapper full_width">
  <div class="flex-container flex-rtl">
    <div class="flexslider flex-homepage">
      <ul class="flex-slides">
        <li><img src="{echo CDN}img/slider/1.jpg"  alt="Template Demo Image"></li>
        <li><img src="{echo CDN}img/slider/2.jpg" alt="Template Demo Image"></li>
        <li><img src="{echo CDN}img/slider/3.jpg"  alt="Template Demo Image"></li>
      </ul>
    </div>
  </div>
</div>
<!--End Of Slider -->

<!-- Can Be Latest News-->
<div class="wrapper row4">
  <div role="main" class="container">
    <div id="homepage">
      <div class="col-3-4 first">
        <section class="clear">
          <h2><span>Whats New Here</span></h2>
          <div class="col-1-2 first"><img class="boxholder" src="{echo CDN}img/homepage/1.jpg" alt="Template Demo Image"></div>
          <div class="col-1-2">
            <h3>Admission open for 2015-2016 Session.</h3>
            <p>Here is the chance to fullfil your dream of studying in One of the best College of Delhi Government. Follow the Instruction</p>
            <ul class="list indent tick">
              <li>Fill the CET form of IPU with CET code 131 or 130 <li>
              <li>After Qualification if eligible selct this college in couselling.</li>
              <li>Fill the Admission Form here in Admission Section.</li>
            </ul>
            <p>Last date of Filling the form is 10<sup>th</sup> August 2015.</p>
            <p><a href="#" class="button small red">Read More &raquo;</a></p>
          </div>
        </section>
        <div class="clear"></div>
          <section class="clear">
            <div class="col-1-3 first">
            <h2><span>Become Our Part</span></h2>
            <ul class="nospace spacing">
              <li><a class="button block pad20 green clear" href="/admissions/"><span class="icon-shield icon-2x imgl"></span>
              <p class="nospace times font-large">ADMISSION</p>
              <p class="nospace">Apply to Study In GBPEC</p>
              </a></li>
              <li><a class="button block pad20 orange clear" href="#"><span class="icon-puzzle-piece icon-2x imgl"></span>
              <p class="nospace times font-medium">GBPEC CURRICULUM</p>
              <p class="nospace">Follow GBPEC Curriculum</p>
              </a></li>
              <li><a class="button block pad20 yellow clear" href="#"><span class="icon-building icon-2x imgl"></span>
              <p class="nospace times font-large">ONLINE GBPEC</p>
              <p class="nospace">Spreading Education.</p>
              </a></li>
              <li><a class="button block pad20 red clear" href=""><span class="icon-paper-clip icon-2x imgl"></span>
              <p class="nospace times font-medium">DOWNLOAD CENTER</p>
              <p class="nospace">E-Brouchure, E-Magznie</p>
              </a></li>
            </ul>
            </div>
            <div class="col-2-3">
              <h2><span>Recently In GBPEC Campus</span></h2>
              <article class="blog-post-excerpt col-1-2 first">
              <div class="post-content">
                <div class="post-image push20"><img class="boxholder" src="{echo CDN}img/others/uploads/solar.jpg" alt="Solar E-Rickshaw"></div>
                <h3 class="blog-post-title"><a href="#">Developed Solar E-Rickshaw</a></h3>
                <div class="blog-post-meta">
                <ul>
                <li class="blog-post-date"><time datetime="time">6<sup>th</sup> April 2015</time></li>
                <li class="blog-post-author">By <a href="#">admin</a></li>
                </ul>
                </div>
                <p>A team of students here have developed a hybrid autorickshaw which can run on solar power as well as on electricity.
                The project was completed in the leadership of Dr. Vibhakar Srimali, HOD Of ECE.
                The third-year B. Tech. students of ECE branch.&hellip;</p>
                <p><a href="" class="button small red">Read More &raquo;</a></p>
              </div>
            </article>
            <article class="blog-post-excerpt col-1-2">
            <div class="post-content">
              <div class="post-image push20"><img class="boxholder" src="{echo CDN}img/others/uploads/inceptum.jpg" alt="Template Demo Image"></div>
              <h3 class="blog-post-title"><a href="#">INCEPTUM : Annual Festival</a></h3>
              <div class="blog-post-meta">
              <ul>
                <li class="blog-post-date"><time datetime="time">1<sup>st</sup>  March 2015</time></li>
                <li class="blog-post-author">By <a href="#">admin</a></li>
              </ul>
              </div>
              <p>INCEPTUM is entirely managed by students of GBPEC, New Delhi with a three-tier team structure.
               The core committee consists of students who overlook all the aspects and activities with over 100 
               volunteers working in sync to execute and implement the splendid spectacle&hellip;</p>
              <p><a href="" class="button small red">Read More &raquo;</a></p>
            </div>
            </article>
            <div class="clear"></div>
          </div>
        </section>
      </div>
      <div id="sidebar_1" class="sidebar col-1-4">
      <aside>
        <h2><span>Upcoming Events</span></h2>
        <ul class="nospace spacing push50">
        {script $month = array("", "JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG","SEP", "OCT", "NOV", "DEC")}
        {if isset($notice)}
        {foreach $note in $notice}
        {script $mon = explode("-",$note->event_date)}
        <li class="clear">
          <time class="date-icon"><strong>{echo $month[$mon[1]]}</strong> <em>{echo $mon[0]}</em></time>
          <div>
          <p class="nospace times font-medium">{$note->title}</p>
          <p class="nospace"><a href="NoticeBoard?click=true&notice_id={echo $note->id}&user_type={$note->for_user}">Click here ...</a></p>
          </div>
        </li>
        {/foreach}
        {/if}        
      </ul>
      <h2><span>Video Tour</span></h2>
      <div class="mediabox"> 
      <iframe src="//www.youtube-nocookie.com/embed/bBjvqnKQsTI?modestbranding=1&amp;showinfo=0&amp;vq=hd1080&amp;rel=0" sandbox="allow-same-origin" seamless frameBorder="0" scrolling="no" width="230" height="236"></iframe> 
      </div>
      <div class="clear push50"></div>
      <h2><span>Work With US</span></h2>
        <nav>
          <ul>
          <li><a href="#">Career With Us</a></li>
          <li><a href="#">Tenders</a></li>
          <li><a href="#">Advertisements</a></li>
          <li><a href="#">Notices: Not For Students</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
<div class="clear"></div>
</div>
</div>
