<div class="wrapper row4">
  <div role="main" class="container">
   
    <div class="testimonial opt3 clear">
      <blockquote>
      <h2 class="nospace push50 center">{$note->title}</h2>
      <h3 >Date: {$note->event_date} <span class="right">Notice Refrence NO.: {$note->refrence}</span> </h3>
      <br/>
        <p >{$note->content}</p>
      </blockquote>
      <figure class="testimonial-author clear"><img src="{echo CDN}img/gbpeclogo.png" alt="GBPEC Logo">
          <figcaption class="testimonial-caption"><strong>Administrative Department</strong> <span>Govind Ballabh Pant ENgineering College</span></figcaption>
        </figure>
    </div>
    <div class="clear"></div>
  </div>
</div>
