<div class="wrapper row3">
  <div id="pageintro" class="clear">
    <div class="fl_left">
      <h2 class="nospace">Sports & Games</h2>
    </div>
    <nav class="fl_right breadcrumb">
      <ul>
        <li><a href="http://www.os-templates.com/premium-website-templates" title="Home">Home</a></li>
        <li><a href="#">Campus Facilities</a></li>
        <li><a href="2-col-grid.html" >Sports & Games</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="wrapper row4">
  <div role="main" class="container">
    <div id="blog-posts">
      <div id="blog-overview" class="clear">
        <article class="blog-post-excerpt col-1-2 first">
          <div class="post-content">
            <h2 class="blog-post-title"><a>What we think of Sports here.</a></h2>
            <p>We here believes in integrating Sports with the curriculum to enable students to grow into well groomed personalities. For this purpose sports facilities common to all GBPEC Students  have been created sports Center GBPEC. The Sports Facilities available at the GBPEC campus are at par with the best and are complete with state-of-the- art infrastructure: We provide Facilities for</p>
            &#8226; Basket Ball &#8226; Volley Ball &#8226; Football &#8226; Badminton &#8226; Table Tennis &#8226; Carrom &#8226; Chess &#8226; Cricket
           
          </div>
        </article>
        <article class="blog-post-excerpt col-1-2">
          <div class="post-content">
            <h2 class="blog-post-title"><a>Why Sports is needed in Engineering collge.</a></h2>
            <p>Physical activity is vital to the holistic development of students and to foster their physical, social and emotional well being. While education illuminates the mind with the light of knowledge, Sports help in maintaining their physique, inculcating among students the spirit of teamwork and fellowship. As a stress-buster, the benefits of sports can in no way be underestimated since they take the pressure off studies and engenders a positive bent of mind among the younger generation.</p>
         
          </div>
        </article>
        <article class="blog-post-excerpt col-1-4 first">
          <h2 class="blog-post-title"><a>Football</a></h2>
            <div>
            <a class="nivoltbox"  href="{echo CDN}img/sports/football.jpg" title="FootBall at GBPEC "><img src="{echo CDN}img/sports/football.jpg" alt="Football"></a>
            </div>
        </article>
        <article class="blog-post-excerpt col-1-4">
          <h2 class="blog-post-title"><a>Carrom</a></h2>
            <div>
            <a class="nivoltbox"  href="{echo CDN}img/sports/carrom.jpg" title="Carrom at GBPEC "><img src="{echo CDN}img/sports/carrom.jpg" alt="Carrom"></a>
            </div>
        </article>

        <article class="blog-post-excerpt col-1-4">
          <h2 class="blog-post-title"><a>Basket Ball</a></h2>
            <div>
            <a class="nivoltbox"  href="{echo CDN}img/sports/basketball.jpg" title="Basket Ball at GBPEC "><img src="{echo CDN}img/sports/basketball.jpg" alt="Basket Ball"></a>
            </div>

        </article>
        <article class="blog-post-excerpt col-1-4">
          <h2 class="blog-post-title"><a>Badminton</a></h2>
            <div>
            <a class="nivoltbox"  href="{echo CDN}img/sports/badminton.jpg" title="Badminton at GBPEC "><img src="{echo CDN}img/sports/badminton.jpg" alt="Badminton"></a>
            </div>

        </article>
    </div>
    <div class="clear"></div>
  </div>
</div>