<div class="wrapper row4">
  <div role="main" class="container">
    <h2>Electronics And Communication Enginnering</h2>
    <div class="tab-wrapper clear">
      <ul class="tab-nav clear">
        <li><a href="#tab-1">Course Details</a></li>
        <li><a href="#tab-2">Course Syllabus</a></li>
        <li><a href="#tab-3">Carrers and Industries</a></li>
      </ul>
      <div class="tab-container">
        <div id="tab-1" class="tab-content clear">
          <h2>What is Electronics & Communication Enginnering ?</h2>
          <div class="col-1-2 first">
            Electronics & Communication Engineering deals with the electronic devices,
             circuits, communication equipments like transmitter, receiver, 
             integrated circuits (IC). It also deals with basic electronics,
              analog and digital transmission & reception of data, voice and video 
              (Example AM, FM, DTH), microprocessors, satellite communication,
               microwave engineering, antennae and wave progression. 
               It aims to deepen the knowledge and skills of the students on the basic
                concepts and theories that will equip them in their professional work 
                involving analysis, systems implementation, operation, production, 
                and maintenance of the various applications in the field of Electronics
                 and Communications Engineering. 
          </div>
          <div class="col-1-2">
           
        All of the applications which make our life easier and enjoyable such as Television, Radio, Computers, Mobiles etc. are designed and developed by Electronics and Communication Engineers
       <ul>
      <li>Design and maintain satellites, which bring TV, telephone and Internet service into remote and rural regions
      </li><li>ECE Engineers also creates advanced communication facilities like video conferencing which bring people together from all over the world
      </li><li>Develops programs for various control and communication systems</li>
      </ul>
          </div>
        </div>
        <div id="tab-2" class="tab-content clear">
          <h2>What subjects are studied in Electronics and Communication ?</h2>
          <div class="col-1-2 first">
            these are some content 
          </div>
          <div class="col-1-2">
            these are another content
          </div>
        </div>
        <div id="tab-3" class="tab-content clear">
          <h2>What are carrer Oppurtunities in present days and future ?</h2>
          <div class="col-1-2 first">
            Electronics and Communication Engineering opens up great career prospects for the students. The students after completion of the degree can easily avail job opportunities in manufacturing industries and service organizations such as broadcasting, consulting, data communication, entertainment, research and development; and system support. The candidates can also work in modern multimedia service firms that are involved in real-time transfer of information through video conferencing and internet broadcasting.

            The opportunities are galore for electronics and communication engineers as they are employed in variety of sectors such as Indian Telephone Industries, Civil Aviation, Development Centers in various States, Defense, NPL, A.I.R, Posts and Telegraph Department, Railways, Bharat Electronics Limited, D.R.D.O, Telecommunication, Software Engineering/IT, Power sector, Hardware Manufacturing, Home Appliance and VLSI design, Television Industry and Research & Development.
          </div>
          <div class="col-1-2">
            <b>Some job titles</b>
            <ul>
             <li> Service Engineer</li>
            <li>  Software Analyst</li>
            <li> Technical Director</li>
            <li> Field Test Engineer</li>
             <li> Senior Sales Manager</li>
             <li> Network Planning Engineer</li>
             <li> Customer Support Engineer</li>
             <li> Electronics and Communications Consultant</li>
             <li> Research & Development Software Engineer</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <br/>
    <br/>
    <div class="flex-container flex-rtl">
        <div class="flexslider carousel flex-carousel">
          <ul class="flex-slides">
            <li><img src="{echo CDN}img/course/ece/sony.jpg" alt="SONY"></li>
            <li><img src="{echo CDN}img/course/ece/lg.jpg" alt="LG"></li>
            <li><img src="{echo CDN}img/course/ece/casio.jpg" alt="CASIO"></li>
            <li><img src="{echo CDN}img/course/ece/canon.jpg" alt="Canon"></li>
            <li><img src="{echo CDN}img/course/ece/cisco.jpg" alt="CISCO"></li>
            <li><img src="{echo CDN}img/course/ece/panasonic.jpg" alt="PANASONIC"></li>
            <li><img src="{echo CDN}img/course/ece/samsung.jpg" alt="Samsung"></li>
             <li><img src="{echo CDN}img/course/ece/nokia.jpg" alt="Nokia"></li>
            <li><img src="{echo CDN}img/course/ece/whirlpool.jpg" alt="Whirlpool"></li>
          </ul>
        </div>
      </div>
    
  </div>
</div>
