<div class="wrapper row4">
  <div role="main" class="container">
    <h2>Mechanical And Automation Engineering</h2>
    <div class="tab-wrapper clear">
      <ul class="tab-nav clear">
        <li><a href="#tab-1">Course Details</a></li>
        <li><a href="#tab-2">Course Syllabus</a></li>
        <li><a href="#tab-3">Carrers and Industries</a></li>
      </ul>
      <div class="tab-container">
        <div id="tab-1" class="tab-content clear">
          <h2>What is Mechanical  & Automation Engineering ?</h2>
          <div class="col-1-2 first">
            Mechanical engineering is a discipline of engineering that applies the principles of physics and materials science for analysis, design, manufacturing, and maintenance of mechanical systems. It is the branch of engineering that involves the production and usage of heat and mechanical power for the design, production, and operation of machines and tools. It is one of the oldest and broadest engineering disciplines.
           <br/><br/>
          The engineering field requires an understanding of core concepts including mechanics, kinematics, thermodynamics, materials science, and structural analysis. Mechanical engineers use these core principles along with tools like computer-aided engineering and product lifecycle management to design and analyze manufacturing plants, industrial equipment and machinery, heating and cooling systems, transport systems, aircraft, watercraft, robotics, medical devices and more.
           
          
          </div>
          <div class="col-1-2">
            Mechanical Engineering science emerged in the 19th century as a result of developments in the field of physics. The field has continually evolved to incorporate advancements in technology. Mechanical engineers today are pursuing developments in fields such as composites, mechatronics and nano technology. Mechanical Engineering overlaps with aerospace engineering, civil engineering, electrical engineering, petroleum engineering and chemical engineering to varying amounts. 
            <br/><br/>
          Like other career paths, entry into this particular branch of engineering also requires certain basic traits. First and foremost, you must have a penchant for mechanical components and machinery and how these machines work. You must be good at physics, chemistry and mathematics. You must also have skills such as an analytical bent of mind, logical reasoning and problem solving. 
          </div>
        </div>
        <div id="tab-2" class="tab-content clear">
          <h2>What subjects are studied in Machenical And Automation ?</h2>
          <div class="col-1-2 first">
            these are some content 
          </div>
          <div class="col-1-2">
            these are another content
          </div>
        </div>
        <div id="tab-3" class="tab-content clear">
          <h2>What are carrer Oppurtunities in present days and future ?</h2>
          <div class="col-1-2 first">
            Mechanical Engineers are required in all manufacturing facilities. The working criteria of a mechanical engineer changes according to the type and domain of the company they are working with and the area of specialization. In a broader sense it can be said that mechanical engineer works on design and control of a system that goes into the process of manufacturing the machinery and product. He tests new systems for feasibility and efficiency and carries out quality management and improvement process. <br/><br/>
          There is tremendous scope for mechanical engineers in automobile engineering, cement industry, steel, power sector, hydraulics, manufacturing plants, drilling and mining industry, petroleum, aeronautical, biotechnology and many more. Nowadays they are also increasingly needed in the environmental and bio-medical fields. 
          A beginner in Mechanical Engineering can opt for various job openings such as: Maintenance Engineer, safety Engineer, Quality Assurance, CNC Programmer, Jr. Engineer, Design Engineer, CAD/CAM Trainer, Production Supervisor/Engineer, R&D Trainee etc.
          </div>
          <div class="col-1-2">
             
          <b>Top Companies Employing Mechanical Engineers</b>
            <br/><br/>
          With a degree or diploma in mechanical engineering, one can find job in various government and private sector companies. Some government sector companies that employ mechanical engineers are:
           <ul>
               <li>Indian Army</li>
               <li>Indian Railways</li>
               <li>Civil services</li>
               <li>NTPC</li>
               <li>CESC</li>
               <li>ISRO</li>
               <li>BHEL</li>
               </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <br/>
    <br/>
    <div class="flex-container flex-rtl">
        <div class="flexslider carousel flex-carousel">
          <ul class="flex-slides">
            <li><img src="{echo CDN}img/course/mae/godrej.jpg" alt="Godrej"></li>
            <li><img src="{echo CDN}img/course/mae/honda.jpg" alt="Honda"></li>
            <li><img src="{echo CDN}img/course/mae/mahindra.jpg" alt="Mahindra"></li>
            <li><img src="{echo CDN}img/course/mae/maruti-suzuki.jpg" alt="Maruti Suzuki"></li>
            <li><img src="{echo CDN}img/course/mae/abb.jpg" alt="ABB"></li>
            <li><img src="{echo CDN}img/course/mae/ntpc.jpg" alt="NTPC"></li>
            <li><img src="{echo CDN}img/course/mae/lt.jpg" alt="Larsen & Turbo"></li>
             <li><img src="{echo CDN}img/course/mae/sail.jpg" alt="Steel Authority India Limited"></li>
            <li><img src="{echo CDN}img/course/mae/bhel.jpg" alt="Bharat Heavy Elctronics Limited"></li>
          </ul>
        </div>
      </div>
  </div>
</div>